node_modules
.next
out
dist
*.log
.env
.env.local
prisma/*.db
prisma/*.db-journal
prisma/*.db-shm
prisma/*.db-wal
.vscode
.idea
.DS_Store
vercel
__pycache__/
.vercel
.env*
.image-cache
public/images/item-list/
prisma/github-files.json
